<nav id="menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-12 menu">
          <ul class="float-left">
            <li class="mt-3">
              <a class="message"></a>
            </li>
          </ul>
  
          <ul class="display-flex-end img-logout">
            <li>
              <img src="" class="profile-img" alt="">
            </li>
  
            <li class="mt-3">
              <a>Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  